Makefile
Makefile.in*
*~
*.o
.deps
.intltool-merge-cache.lock
/aclocal.m4
/autom4te.cache
/build-aux
/config.h
/config.h.in
/config.log
/config.status
/configure
/libtool
LINGUAS
POTFILES
stamp-*

*.desktop
*.1
*.ui
data/ui/about.glade
*.gmo
src/stuurman

